{% extends 'base.html.twig' %}

{% block title %}Oups !{% endblock %}

{% block body %}
<div class="wrapper">
    <h1 style="color: #ee5253;"><b>Oups !</b></h1>

    <p style="color: #ee5253;">{{ message }}</p>
</div>
{% endblock %}
