{% extends 'base.html.twig' %}

{% block title %}titre{% endblock %}

{% block body %}
<div class="wrapper">
    <a href="{{ path('app_login') }}">connexion</a> |
    <a href="{{ path('app_register') }}">enregistrement</a>
</div>
{% endblock %}
