{% extends 'base.html.twig' %}

{% block title %}Merci {{ contact.Firstname }} !{% endblock %}

{% block body %}
    <div class="wrapper">
        <h3>Bonjour {{ contact.Firstname }}</h3>
        merci pour ton retour
        <br>
        <br>
        Tu peux maintenant <a style="color:red;" onclick="window.open('', '_self', ''); window.close();"> ❌ fermer cette fenêtre</a>. <br>
        Fermeture auto dans <span id='countdown' ></span> secondes.
    </div>
    <script>
        var secondes = 10;
        document.getElementById("countdown").innerHTML = secondes--;
        setTimeout(function() { window.close();}, secondes * 1000);
        var x = setInterval(function() {document.getElementById("countdown").innerHTML = secondes--;}, 1000);
    </script>
{% endblock %}
